body {
    background-color: purple;
}

h1 {
    color: cyan;
    text-align: center;
    font-size: 45px
}

p1 {
    font-family: verdana;
    font-size: 20px;
    color: yellow;
}
p2 {
    font-family: verdana;
    font-size: 20px;
    color: orange;
} 